[Unit]
Description=udiskie tray automounter
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --tray
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
